{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="fitness/static/fitness/estilos.css">
</head>
<body>
    {%block navbar% }
    <div id="contenido"> <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #006D83;">

        <div class="container-fluid" >

          

          <div class="collapse navbar-collapse" id="navbarNav" >
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active"  href="index.html"  > <p id="paranav">Inicio</p></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  </li>

              <li class="nav-item">
                <a class="nav-link active"  href="categoria.html"  > <p id="paranav">Categoria</p></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </li>

                <a class="nav-link active" aria-current="page" href="Registro.html"> <p id="paranav" >Registro</p></a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" href="login.html"><p id="paranav" >Login</p></a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="consejos.html"><p id="paranav" >Sugerencias y consejos</p></a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="generacion.html"><p id="paranav" >Rutina por generación</p></a>
              </li>

             
            </ul>
          </div>
          <footer>2024 gina de fitnes se tuproyecto, tu mejor version </footer>
        </div>
      </nav>
    </div>
    {%endblock%}
</body>
</html>