{% extends 'fitness/layout.html' %}
{% load static %}


  {% block content %}
   
    <div class="container text-center my-4">
        <div class="card mb-4">
            <div class="card-body">
                <h3 class="card-title">Rutinas para menores de 30</h3>
                <p class="card-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Alias in quis enim autem voluptatibus reprehenderit molestiae
                    velit hic illo praesentium eos quidem nihil aliquid voluptatum
                    necessitatibus, deleniti amet dolorum explicabo.
                </p>
                <a href="https://youtu.be/YZkfj1JOG6g?si=OmQlCcU1lfJ_4UPV" class="btn btn-primary">Ver más</a>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h3 class="card-title">Rutinas para mayores de 30</h3>
                <p class="card-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Alias in quis enim autem voluptatibus reprehenderit molestiae
                    velit hic illo praesentium eos quidem nihil aliquid voluptatum
                    necessitatibus, deleniti amet dolorum explicabo.
                </p>
                <a href="https://www.youtube.com/watch?v=jlHOotjWK_w" class="btn btn-primary">Ver más</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-mQcFEomvbzA9/S1sDfDP5kqR5c7sY8nE7JW2PSv1OQQTSH5jqD8KLv8H3J9zEnl5" crossorigin="anonymous"></script>

{% endblock %}
